<div class="container">
  <div class="card mt-3">
    <div class="card-header">
      <h4 class="text-center">La liste des departements</h4>
      <p class="text-end"><a routerLink="/departement/ajouter">ajouter un Departement</a></p>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <th>#</th>
        <th>Libelle</th>
        </thead>
        <tbody>
        <tr *ngFor="let departement of departements$ | async">
          <td>{{departement.id}}</td>
          <td>{{departement.libelle}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

